/* Layout Classes */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.gap-2 {
  gap: var(--spacing-sm);
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.padding {
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-md);
}

#container {
  max-width: var(--container-width);
  margin: 0 auto;
  width: 100%;
  flex: 1;
  padding-top: var(--header-height);
  margin-bottom: 4rem;
  /* Ensure gap before footer */
}
